CompileFlags:
  Add:
    - -I/home/moranayal/repos/ILRD/git/ds/inc
    - -I/home/moranayal/repos/ILRD/git/algo/inc
    - -I/home/moranayal/repos/ILRD/git/c/inc
    - -I/home/moranayal/repos/ILRD/git/exams/inc
    - -I/home/moranayal/repos/ILRD/git/other/inc
    - -I/home/moranayal/repos/ILRD/git/projects/inc
    - -I/home/moranayal/repos/ILRD/git/projects/watchdog/inc
    - -I/home/moranayal/repos/ILRD/git/quizzes/inc
    - -I/home/moranayal/repos/ILRD/git/system_programming/inc
    - -I/home/moranayal/repos/ILRD/git/utils/inc

