BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80

BreakBeforeBraces: Allman

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  AfterClass: true
  BeforeElse: true
  BeforeCatch: true
  IndentBraces: false
