#IGNORE EVERYTHING
*

#folders
!/**/

*/SDL_bgi

# FILE EXTENSIONS
!*.c
!*.cpp
!*.h
!*.hpp
!*.md
!*.sh
!*.ts*
!*.js*
!*.json
!*.yaml
!*.png
!*.env
!*.css
!*.html
!*.xml
!*.yml
!*.conf

# MAKEFILES
!*.mk

# CONFIG(?) FILES
!.gitignore
!.myfuncs
!.clangd
!.clang-tidy
!.clang-format
!c_cpp_properties.json
!launch.json
!settings.json
!Makefile

node_modules/
build/

projects/bank-fs/scripts/seed-transactions.sh
