#IGNORE EVERYTHING
*

#folders
!/**/

*/SDL_bgi

# FILE EXTENSIONS
!*.c
!*.cpp
!*.h
!*.hpp
!*.md
!*.sh

# MAKEFILES
!*.mk

# CONFIG(?) FILES
!.gitignore
!.myfuncs
!.clangd
!.clang-tidy
!.clang-format
!c_cpp_properties.json
!launch.json
!settings.json
!Makefile

node_modules/
build/

