CompileFlags:
  Add:
    - -std=c++20
    - -pthread
    - -I/home/moranayal/repos/ILRD/git/ds/inc
    - -I/home/moranayal/repos/ILRD/git/algo/inc
    - -I/home/moranayal/repos/ILRD/git/c/inc
    - -I/home/moranayal/repos/ILRD/git/exams/inc
    - -I/home/moranayal/repos/ILRD/git/other/inc
    - -I/home/moranayal/repos/ILRD/git/projects/inc
    - -I/home/moranayal/repos/ILRD/git/projects/watchdog/inc
    - -I/home/moranayal/repos/ILRD/git/quizzes/inc
    - -I/home/moranayal/repos/ILRD/git/system_programming/inc
    - -I/home/moranayal/repos/ILRD/git/utils/inc
    - -I/home/moranayal/repos/ILRD/git/cpp/include
    - -I/home/moranayal/repos/ILRD/git/projects/tcp-udp/include
    # Final Project
    - -I/home/moranayal/repos/ILRD/git/projects/final_project/framework/include
    - -I/home/moranayal/repos/ILRD/git/projects/final_project/framework/test/plugins
    - -I/home/moranayal/repos/ILRD/git/projects/final_project/framework/test
    - -I/home/moranayal/repos/ILRD/git/projects/final_project/concrete/common/include
    - -I/home/moranayal/repos/ILRD/git/projects/final_project/concrete/master/include
    - -I/home/moranayal/repos/ILRD/git/projects/final_project/concrete/minion/include
    - -I/home/moranayal/repos/ILRD/git/projects/final_project/utils

    - -I/usr/include/c++/13
    - -I/usr/include/x86_64-linux-gnu/c++/13
    - -I/usr/include/c++/13/backward
    - -I/usr/local/include
    - -I/usr/include/x86_64-linux-gnu
    - -I/usr/include
    - -DNPROD=2
    - -DCONS=2
    - -DI_AM_THE_HANDLETON_IMPLEMENTER
